.rajma-img{
display: flex;
justify-content:center;
background-size: cover;
height: 900px;

}

body{
    background-image:url("https://images.unsplash.com/photo-1498522271744-cdd435c13f24?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1475&q=80") ;
    background-repeat: no-repeat;
    }

.image{
    border-radius: 2%;

}

.para1{
    margin-top: 50px;
    font-size: 14px;
    line-height: 20px;

    }

.para{
font-size: 14px;
line-height: 20px;
}
    
    body{
    font-family:Verdana
    ;
    }
    
    .steps{
    line-height: 25px;
    width: 610px;
    }
    
    .st-sp{
    margin-top: 10px
    
    }
    
    .ing{
    line-height: 25px;
    
    }
    
    h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    }

.ing{
    border-style: solid;
border-color: rgb(218, 24, 24);
border-width: 2px;
}

.steps{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 174, 0);
}