.rajma-image{
width: 580px;
height: auto;
}

.para{
width: 610px
;
font-size: 14px;
;
line-height: 20px;
}

body{
font-family:Verdana
;
}

.steps{
line-height: 25px;
width: 610px;
}

.st-sp{
margin-top: 10px

}

.ing{
line-height: 25px;

}